@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-customWhite: #efefef;
    --color-customDark-0: #252525;
    --color-customDark-50: #202020;
    --color-customDark-100: #191919;
    --color-customDark-200: #1a1a1a;
    --color-customDark-300: #151515;
    --color-customDark-400: #131212;
    --color-hoverdark: #494949;
    --color-hoverdark-2: #3a3a3a;
    --color-textgray-100: #666666;
    --color-textgray-200: #a0a0a0;
    --color-customgreen: #2dd171;
    --color-customorange: #f8af3f;
    --font-Inter: "Inter", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
    --font-sans: "Public Sans", sans-serif;
    --breakpoint-xs: 25rem;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
